<section class="head bg-dark" style="padding-top: 30px;">
    <div class="container p-5">
        <div class="head-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h2 style="color: white;">View Order</h2>
                <nav class="d-flex align-items-center">
                    <a href="/orders">Orders &#8594</span></a>
                    <a href="">View Order</a>
                </nav>
            </div>
        </div>
</section>





<div class="border p-2 mt-2" id="">
    <div id="">

        <h5 class="text-secondary border-bottom py-2 mb-2">View Order</h5>



        <div class="card p-3 bg-light my-2" style="border-radius: 0;" id=" item">
            <h6 class="text-secondary border-bottom py-2 mb-2">Delivery Address</h6>

            <p>
                <%= order.address%>
            </p>

        </div>
        <div class="card p-3 bg-light my-2" style="border-radius: 0;" id=" item">
            <h6 class="text-secondary border-bottom py-2 mb-2">Products</h6>
            <div class="table-responsive">
                <table class="table table-secondary table-striped my-2">

                    <!-- <thead>
                              <tr>
                                
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                              </tr>
                            </thead> -->
                    <tbody>
                        <% order.products.forEach((prod)=> { %>
                            <tr>


                                <td class="text-center">
                                    <%= prod.item.productName %>
                                </td>
                                <td class="text-center">
                                    <%= prod.item.Price %>
                                </td>
                                <td class="text-center">
                                    <%= prod.quantity %>
                                </td>
                                <td class="text-center"> <b>
                                        <%= order.total %>
                                    </b>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>

                </table>
            </div>
        </div>

        <div class="card p-3 bg-light my-2" style="border-radius: 0;" id=" item">
            <h6 class="text-secondary border-bottom py-2 mb-2">Bill Details</h6>
            <div class="table-responsive">
                <table class="table table-secondary table-striped my-2">

                    <tbody>

                        <tr>
                            <td>Order ID</td>
                            <td>
                                <%= order._id %>
                            </td>
                            <td>Items</td>
                            <td>
                                <%= order.products.length %>
                            </td>
                        </tr>
                        <tr>
                            <td>Payment Method</td>
                            <td>
                                <%= order.payment%>
                            </td>
                            <td>Delivery Status</td>
                            <% if(order.deliverystatus.returned.state){ %>
                                <td>Returned
                                </td>
                                <% }else if(order.deliverystatus.delivered.state){ %>
                                    <td>Delivered
                                    </td>
                                    <% } else if(order.deliverystatus.out_for_delivery.state){ %>
                                        <td>Out for delivery
                                        </td>
                                        <% } else if(order.deliverystatus.shipped.state){ %>
                                            <td>Shipped
                                            </td>
                                            <% } else if(order.deliverystatus.canceled.state){ %>
                                                <td>Canceled
                                                </td>
                                                <% } else if(order.deliverystatus.ordered.state){ %>
                                                    <td>Ordered
                                                    </td>

                                                    <% } %>
                        </tr>
                        <tr>
                            <td>Payment Status</td>
                            <td>
                                <%= order.status%>
                            </td>
                            <td>Sub Total</td>
                            <td>
                                <%= order.total %>
                            </td>
                        </tr>




                    </tbody>

                </table>
            </div>



        </div>
        <% if(order.deliverystatus.delivered.state==true){ %>
        <h1>no cancellation</h1>
        <% }else{ %>
            <a href="/cancel-order/<%= order._id %>"><button  class="btn btn-danger btn-lg m-5  " type="button" id="delStat">CANCELED</button></a>
            <% }%>
    </div>



</div>



