<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>.squireImg{
      object-fit: cover;
      width: 220px;
      height: 240px;
      margin: auto;
  }</style>
  </head>

  <body>
    <!-- Start Shop Page  -->
    <div class="shop-box-inner">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
            <% if(products.length==0){ %>
            <div class="row" style="display: flex; justify-content: center">
              <div class="col-12 col-md-6 m-3" style="width: 100%">
                <h1 class="text-center text-danger"><b> NO PRODUCTS</b></h1>
              </div>
              <div class="col-12 col-md-6 mx-auto">
                <img src="" style="width: 100%" alt="" />
              </div>
            </div>
            <% }else{ %>
            <div id="data">
            
              <div id="datas" class="right-product-box">
                <div class="product-categorie-box">
                  <div class="tab-content">
                    <div
                      role="tabpanel"
                      class="tab-pane fade show active"
                      id="grid-view"
                    >
                      <div class="row">
                        <%products.forEach(function(products) { %>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                          <div class="products-single fix">
                            <div class="box-img-hover">
                              <div class="type-lb">
                                <p class="sale">Sale</p>
                              </div>
                              <img
                                src="/image/product-images/<%=products.Image[0]%>"
                                class="img-fluid squireImg"
                                alt="Image"
                              />
                              <div class="mask-icon">
                                <ul>
                                  <li>
                                    <a
                                      href="#"
                                      data-toggle="tooltip"
                                      data-placement="right"
                                      title="View"
                                      ><i class="fas fa-eye"></i
                                    ></a>
                                  </li>
                                  <li>
                                    <a
                                      href="#"
                                      data-toggle="tooltip"
                                      data-placement="right"
                                      title="Compare"
                                      ><i class="fas fa-sync-alt"></i
                                    ></a>
                                  </li>
                                  <li>
                                    <a
                                      href="#"
                                      data-toggle="tooltip"
                                      data-placement="right"
                                      title="Add to Wishlist"
                                      ><i class="far fa-heart"></i
                                    ></a>
                                  </li>
                                </ul>
                                <a class="cart" href="#">Add to Cart</a>
                              </div>
                            </div>
                            <div class="why-text">
                              <h4><%=products.productName %></h4>
                              <h5><%=products.Price %></h5>
                            </div>
                          </div>
                        </div>
                        <% }) %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

             
            </div>
            <%} %>
          </div>
          <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
            <div class="product-categori">
              <!-- <div class="search-product">
                <form action="#">
                  <input
                    class="form-control"
                    placeholder="Search here..."
                    type="text"
                  />
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div> -->
              <div class="filter-sidebar-left">
                <div class="title-left">
                  <h3>Categories</h3>
                </div>
                <div>
                  <%category.forEach(function (category) { %>
                  <a
                    role="button"
                    onclick="categoryProduct('<%=category._id%>')"
                    class="list-group-item list-group-item-action"
                  >
                    <%=category.categoryName%>
                  </a>
                  <% }) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Shop Page -->
  </body>
</html>
<script
  src="https://code.jquery.com/jquery-3.6.3.js"
  integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous"
></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
  function categoryProduct(categoryId) {
    console.log("start");
    document.getElementById("data").innerHTML = "";
    $.ajax({
      url: `/category_product?id=${categoryId}`,
      method: "get",
    }).done(function (data) {
      console.log("jjjjjjjjjjjj");
      console.log(data.catPro, "llllllllllllllllll");
      data.catPro.forEach((products) => {
        document.getElementById(
          "data"
        ).innerHTML += ` <div id="data" class="right-product-box">



          <div class="product-categorie-box">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Sale</p>
                            </div>
                            <img src="/image/product-images/${products.Image[0]}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="#" data-toggle="tooltip"
                                            data-placement="right" title="View"><i
                                                class="fas fa-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip"
                                            data-placement="right" title="Compare"><i
                                                class="fas fa-sync-alt"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip"
                                            data-placement="right"
                                            title="Add to Wishlist"><i
                                                class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="#">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>${products.productName}</h4>
                            <h5>${products.Price}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>`;
      });
    });
  }
</script>
